body {
    padding: 1em;
}

.page-header {
    display: block;
    background-color: cornsilk;
}

.content-container {
    font-size: 0;
}

.content-section {
    vertical-align: top;
    display: inline-block;
    padding: 1em;
    font-size: 1rem;
    /* root: 16px */
}

.content-section-a {
    width: calc(30% - 2em);
    background-color: yellow;
}

.content-section-b {
    width: calc(70% - 2em);
    background-color: pink;
}

.page-footer {
    padding: 1em;
    background-color: yellowgreen;
}


.global-menu-link {
    display: block;
    margin-bottom: 5px;
    background-color: aquamarine;
}

